Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [2]:
a = "jerry"
b = [1,2,3,4,"jerry",45.44,True]
c = 45.66
d = (1,2,3,4,"jerry",45.33,True)

Q2. Given are some following variables containing data: 
(i) var1 = ' ' 
(ii) var2 = '[ DS , ML , Python]' 
(iii) var3 = [ 'DS' , 'ML' , 'Python'] 
(iv) var4 = 1

In [6]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1
print(type(var1),type(var2),type(var3),type(var4),sep='\n')

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [7]:
print(22/1000) #division

print(22%3) #modulus

print(22//10) #floor division

print(10**3) #exponentiation

0.022
1
2
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [11]:
lst = [100,100.02,"jerry",True,1+1j,[12,24,36],(1,2,3),range(10),{1,2,3,3,1,2},{'name':'jerry','roll_no':82,'sem':5}]
for i in lst:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'set'>
<class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [15]:
A = int(input("Enter A: "))
B = int(input("Enter B: "))
A_copy = A
i=0
while(A_copy>=B):
    A_copy=A_copy-B
    i=i+1
if(A_copy==0):
    print(f"{A} is divisible {i} times by {B}")
else:
    print(f"{A} is not divisible by {B}")

123 is divisible 41 times by 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is d divisible by 3 or not.

In [21]:
import random
lst1  = []
for i in range(25):
    lst1.append(random.randint(1,1000))
for i in range(25):
    if(lst1[i]%3==0):
        print(f"{lst1[i]} is divisible by 3")
    else:
        print(f"{lst1[i]} is not divisible by 3")

767 is not divisible by 3
310 is not divisible by 3
954 is divisible by 3
717 is divisible by 3
309 is divisible by 3
924 is divisible by 3
544 is not divisible by 3
763 is not divisible by 3
518 is not divisible by 3
619 is not divisible by 3
896 is not divisible by 3
877 is not divisible by 3
622 is not divisible by 3
553 is not divisible by 3
681 is divisible by 3
461 is not divisible by 3
846 is divisible by 3
40 is not divisible by 3
168 is divisible by 3
757 is not divisible by 3
486 is divisible by 3
383 is not divisible by 3
847 is not divisible by 3
974 is not divisible by 3
87 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

Mutable data types are those collection types which are modifiable at indexes. List are mutable data types in python.

Immutable data types are those collection types which are not modifiable at indexes. Tuple and strings are immutable data types in python

In [22]:
str1="jerry"
str1[0]='b'

TypeError: 'str' object does not support item assignment

In [23]:
lst2=[1,2,3,4,5]
lst2[0]=11