In [1]:
dict1 = {}

In [2]:
type(dict1)

dict

In [3]:
dict1={'key':'value'}

In [4]:
dict1

{'key': 'value'}

In [5]:
dict2 = {'name':'jerry','email':'jerry@gmail.com','number':8765432190}

In [6]:
dict2

{'name': 'jerry', 'email': 'jerry@gmail.com', 'number': 8765432190}

In [7]:
dict3 = {1:'jerry', 2:'jerry@gmail.com', 3:8765432190}

In [8]:
dict3

{1: 'jerry', 2: 'jerry@gmail.com', 3: 8765432190}

In [9]:
dict3 = {True:'jerry', True:'jerry@gmail.com', 3:8765432190}

In [10]:
dict3

{True: 'jerry@gmail.com', 3: 8765432190}

In [11]:
dict3 = { @1:'jerry', True:'jerry@gmail.com', 3:8765432190}

SyntaxError: invalid syntax (1208568596.py, line 1)

In [ ]:
dict3 = { True:'jerry', 1AA:'jerry@gmail.com', 3:8765432190}

SyntaxError: invalid decimal literal (1933142254.py, line 1)

In [12]:
dict3[True]

'jerry@gmail.com'

In [13]:
dict3[3]

8765432190

In [14]:
dict3[1]

'jerry@gmail.com'

In [15]:
dict2

{'name': 'jerry', 'email': 'jerry@gmail.com', 'number': 8765432190}

In [16]:
dict2['name']='john'

In [17]:
dict2

{'name': 'john', 'email': 'jerry@gmail.com', 'number': 8765432190}

In [18]:
dict4 = {'company':'pwskills','courses':['web_dev','java_with_dsa','data_science']}

In [19]:
dict4

{'company': 'pwskills',
 'courses': ['web_dev', 'java_with_dsa', 'data_science']}

In [20]:
dict4['courses']

['web_dev', 'java_with_dsa', 'data_science']

In [21]:
dict4["courses"][1]

'java_with_dsa'

In [22]:
dict5 = {'number':[2,3,4,5,6],'assignment':(1,2,3,4,5,6)}

In [23]:
dict5

{'number': [2, 3, 4, 5, 6], 'assignment': (1, 2, 3, 4, 5, 6)}

In [24]:
dict5={"number":{1,2,3},"courses":['web_dev','java_with_dsa','data_science'],"class_time":{"web_dev":8,"java_with_dsa":11,"data_science":3}}

In [25]:
dict5

{'number': {1, 2, 3},
 'courses': ['web_dev', 'java_with_dsa', 'data_science'],
 'class_time': {'web_dev': 8, 'java_with_dsa': 11, 'data_science': 3}}

In [26]:
dict5["mentor"]=["Vishwa","Hayder","Sudhanshu"]

In [27]:
dict5

{'number': {1, 2, 3},
 'courses': ['web_dev', 'java_with_dsa', 'data_science'],
 'class_time': {'web_dev': 8, 'java_with_dsa': 11, 'data_science': 3},
 'mentor': ['Vishwa', 'Hayder', 'Sudhanshu']}

In [28]:
del dict5["number"]

In [29]:
dict5

{'courses': ['web_dev', 'java_with_dsa', 'data_science'],
 'class_time': {'web_dev': 8, 'java_with_dsa': 11, 'data_science': 3},
 'mentor': ['Vishwa', 'Hayder', 'Sudhanshu']}

In [30]:
list(dict5.keys())

['courses', 'class_time', 'mentor']

In [31]:
list(dict5.values())

[['web_dev', 'java_with_dsa', 'data_science'],
 {'web_dev': 8, 'java_with_dsa': 11, 'data_science': 3},
 ['Vishwa', 'Hayder', 'Sudhanshu']]

In [32]:
list(dict5.items())

[('courses', ['web_dev', 'java_with_dsa', 'data_science']),
 ('class_time', {'web_dev': 8, 'java_with_dsa': 11, 'data_science': 3}),
 ('mentor', ['Vishwa', 'Hayder', 'Sudhanshu'])]

In [33]:
dict5.pop()

TypeError: pop expected at least 1 argument, got 0

In [34]:
mentor = dict5.pop('mentor')

In [35]:
mentor

['Vishwa', 'Hayder', 'Sudhanshu']

In [36]:
dict5

{'courses': ['web_dev', 'java_with_dsa', 'data_science'],
 'class_time': {'web_dev': 8, 'java_with_dsa': 11, 'data_science': 3}}

In [37]:
{}.fromkeys("123456789",'_')

{'1': '_',
 '2': '_',
 '3': '_',
 '4': '_',
 '5': '_',
 '6': '_',
 '7': '_',
 '8': '_',
 '9': '_'}

In [38]:
{}.fromkeys([x for x in range(1,101)],'value not set')

{1: 'value not set',
 2: 'value not set',
 3: 'value not set',
 4: 'value not set',
 5: 'value not set',
 6: 'value not set',
 7: 'value not set',
 8: 'value not set',
 9: 'value not set',
 10: 'value not set',
 11: 'value not set',
 12: 'value not set',
 13: 'value not set',
 14: 'value not set',
 15: 'value not set',
 16: 'value not set',
 17: 'value not set',
 18: 'value not set',
 19: 'value not set',
 20: 'value not set',
 21: 'value not set',
 22: 'value not set',
 23: 'value not set',
 24: 'value not set',
 25: 'value not set',
 26: 'value not set',
 27: 'value not set',
 28: 'value not set',
 29: 'value not set',
 30: 'value not set',
 31: 'value not set',
 32: 'value not set',
 33: 'value not set',
 34: 'value not set',
 35: 'value not set',
 36: 'value not set',
 37: 'value not set',
 38: 'value not set',
 39: 'value not set',
 40: 'value not set',
 41: 'value not set',
 42: 'value not set',
 43: 'value not set',
 44: 'value not set',
 45: 'value not set',
 46: 'value not set',
 47: 'value not set',
 48: 'value not set',
 49: 'value not set',
 50: 'value not set',
 51: 'value not set',
 52: 'value not set',
 53: 'value not set',
 54: 'value not set',
 55: 'value not set',
 56: 'value not set',
 57: 'value not set',
 58: 'value not set',
 59: 'value not set',
 60: 'value not set',
 61: 'value not set',
 62: 'value not set',
 63: 'value not set',
 64: 'value not set',
 65: 'value not set',
 66: 'value not set',
 67: 'value not set',
 68: 'value not set',
 69: 'value not set',
 70: 'value not set',
 71: 'value not set',
 72: 'value not set',
 73: 'value not set',
 74: 'value not set',
 75: 'value not set',
 76: 'value not set',
 77: 'value not set',
 78: 'value not set',
 79: 'value not set',
 80: 'value not set',
 81: 'value not set',
 82: 'value not set',
 83: 'value not set',
 84: 'value not set',
 85: 'value not set',
 86: 'value not set',
 87: 'value not set',
 88: 'value not set',
 89: 'value not set',
 90: 'value not set',
 91: 'value not set',
 92: 'value not set',
 93: 'value not set',
 94: 'value not set',
 95: 'value not set',
 96: 'value not set',
 97: 'value not set',
 98: 'value not set',
 99: 'value not set',
 100: 'value not set'}

In [39]:
marks = int(input())
if marks>=80:
    print("A1 batch assigned")
elif marks>=60:
    print("A2 batch assigned")
elif marks>=40:
    print("A3 batch assigned")
else:
    print("A4 batch assigned")

A1 batch assigned

In [40]:
marks = int(input("Enter your marks : "))
if(marks<=100 and marks>=0):
    if marks>=80:
        print("A1 batch assigned")
    elif marks>=60:
        print("A2 batch assigned")
    elif marks>=40:
        print("A3 batch assigned")
    else:
        print("A4 batch assigned")
else:
    print("invalid marks entered")

A1 batch assigned

In [41]:
price = int(input("Enter price : "))
if price>2000:
    print("I will not purchase\nPrice is too high")
elif price>1000:
    print("Not interested\n")
else:
    print("I'll purchase")

I'll purchase

In [42]:
l = list(range(1,11))

In [43]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
for i in range(len(l)):
    l[i]+=10

In [45]:
l

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
s = "jerry"

In [48]:
for i in s:
    print(i)

j
e
r
r
y

In [49]:
l=["jerry","pwskills","course"]

In [50]:
for i in l:
    print(i.upper())

JERRY
PWSKILLS
COURSE

In [54]:
l1=[]
for i in l:
    print(i)
    l1.append(i.upper())

jerry
pwskills
course

In [55]:
l1

['JERRY', 'PWSKILLS', 'COURSE']

In [56]:
l

['jerry', 'pwskills', 'course']

In [57]:
l1

['JERRY', 'PWSKILLS', 'COURSE']

In [58]:
l = [1,2,3,4,"jerry","kuamr",23.44,"abc",833]
num_data = []
str_data = []
for i in l:
    if(type(i)==int or type(i)==float):
        num_data.append(i)
    else:
        str_data.append(i)

In [59]:
num_data

[1, 2, 3, 4, 23.44, 833]

In [60]:
str_data

['jerry', 'kuamr', 'abc']