In [1]:
l = [1,2,3,4,"jerry",True, 5+7j, 45.33]

In [2]:
l

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33]

In [3]:
type(l)

list

In [4]:
l[0]

1

In [5]:
l[1]

2

In [6]:
l[2]

3

In [7]:
len(l)

8

In [8]:
l[8]

IndexError: list index out of range

In [9]:
l[-1]

45.33

In [10]:
l[-8]

1

In [11]:
l[-9]

IndexError: list index out of range

In [12]:
l[0:3]

[1, 2, 3]

In [13]:
l[::-1]

[45.33, (5+7j), True, 'jerry', 4, 3, 2, 1]

In [14]:
l[::2]

[1, 3, 'jerry', (5+7j)]

In [15]:
s="pwskills"

In [16]:
l+s

TypeError: can only concatenate list (not "str") to list

In [17]:
l+list(s)

[1,
 2,
 3,
 4,
 'jerry',
 True,
 (5+7j),
 45.33,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [23]:
l+[s]

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33, 'pwskills']

In [24]:
l[4][0:2]

'je'

In [25]:
l[5]

True

In [26]:
str(l[5])[0:2]

'Tr'

In [27]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [28]:
l1 = [3,4,5]

In [29]:
l+l1

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33, 3, 4, 5]

In [30]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [31]:
s*3

'pwskillspwskillspwskills'

In [32]:
l

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33]

In [33]:
l.append(100)

In [34]:
l

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33, 100]

In [35]:
l.append(s)

In [36]:
l

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33, 100, 'pwskills']

In [37]:
l.append(l1)

In [38]:
l

[1, 2, 3, 4, 'jerry', True, (5+7j), 45.33, 100, 'pwskills', [3, 4, 5]]

In [39]:
l[-1][1]

4

In [40]:
l.extend("two")

In [41]:
l

[1,
 2,
 3,
 4,
 'jerry',
 True,
 (5+7j),
 45.33,
 100,
 'pwskills',
 [3, 4, 5],
 't',
 'w',
 'o']

In [42]:
l.extend(l1)

In [43]:
l

[1,
 2,
 3,
 4,
 'jerry',
 True,
 (5+7j),
 45.33,
 100,
 'pwskills',
 [3, 4, 5],
 't',
 'w',
 'o',
 3,
 4,
 5]

In [44]:
l.extend(712)

TypeError: 'int' object is not iterable

In [45]:
l1

[3, 4, 5]

In [46]:
l1.insert(0,2)

In [47]:
l1

[2, 3, 4, 5]

In [48]:
l1.insert(2,'two')

In [49]:
l1

[2, 3, 'two', 4, 5]

In [50]:
l1.insert(2,'one')

In [51]:
l1

[2, 3, 'one', 'two', 4, 5]

In [52]:
l1.insert(5,'three')

In [53]:
l1

[2, 3, 'one', 'two', 4, 'three', 5]

In [54]:
l1.insert(10,'four')

In [55]:
l1

[2, 3, 'one', 'two', 4, 'three', 5, 'four']

In [56]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
l1.pop()

'four'

In [58]:
l1.pop(2)

'one'

In [59]:
l1.pop(3)

4

In [60]:
l1.remove('three')

In [61]:
l1

[2, 3, 'two', 5]

In [62]:
l1.remove('two')

In [63]:
l1

[2, 3, 5]

In [64]:
l1.insert(1,5)

In [65]:
l1.insert(0,22)

In [66]:
l1

[22, 2, 5, 3, 5]

In [67]:
l1.sort()

In [68]:
l1

[2, 3, 5, 5, 22]

In [69]:
l1[::-1]

[22, 5, 5, 3, 2]

In [70]:
l1

[2, 3, 5, 5, 22]

In [71]:
l1.reverse()

In [72]:
l1

[22, 5, 5, 3, 2]

In [73]:
l2=l1.copy()

In [74]:
l3=l1

In [75]:
l1.append(7)

In [76]:
l1

[22, 5, 5, 3, 2, 7]

In [77]:
l3

[22, 5, 5, 3, 2, 7]

In [78]:
l2

[22, 5, 5, 3, 2]

In [79]:
l2.append(8)

In [80]:
l2

[22, 5, 5, 3, 2, 8]

In [81]:
l1

[22, 5, 5, 3, 2, 7]

In [82]:
l3

[22, 5, 5, 3, 2, 7]

In [83]:
s

'pwskills'

In [84]:
s[0]

'p'

In [85]:
s[0]='a'

TypeError: 'str' object does not support item assignment

In [86]:
l1

[22, 5, 5, 3, 2, 7]

In [87]:
l1[0]=100

In [88]:
l1

[100, 5, 5, 3, 2, 7]

In [89]:
s

'pwskills'

In [90]:
s.replace('s','h')

'pwhkillh'

In [91]:
s

'pwskills'

In [92]:
t = (2,3,4,5,'jerry',45.66,56+77j,[1,2,3])

In [93]:
type(t)

tuple

In [94]:
len(t)

8

In [95]:
t[0]

2

In [96]:
t[-1]

[1, 2, 3]

In [97]:
t[::]

(2, 3, 4, 5, 'jerry', 45.66, (56+77j), [1, 2, 3])

In [98]:
t[::-1]

([1, 2, 3], (56+77j), 45.66, 'jerry', 5, 4, 3, 2)

In [99]:
t[::2]

(2, 4, 'jerry', (56+77j))

In [100]:
t[0]=22

TypeError: 'tuple' object does not support item assignment

In [101]:
s[0]=22

TypeError: 'str' object does not support item assignment

In [102]:
t.count(2)

1

In [103]:
t.index(2)

0

In [104]:
t

(2, 3, 4, 5, 'jerry', 45.66, (56+77j), [1, 2, 3])

In [105]:
t.index('jerry')

4

In [106]:
d1 = {}

In [107]:
type(d1)

dict

In [108]:
d1={1,2,3,4,45,332,2}

In [109]:
type(d1)

set

In [110]:
d1

{1, 2, 3, 4, 45, 332}

In [111]:
d1.add(2)

In [112]:
d1

{1, 2, 3, 4, 45, 332}

In [113]:
d1.add('how')

In [114]:
type(d1)

set

In [115]:
d1

{1, 2, 3, 332, 4, 45, 'how'}

In [116]:
d1.add([123,456])

TypeError: unhashable type: 'list'

In [117]:
d1.add((1,2))

In [118]:
d1

{(1, 2), 1, 2, 3, 332, 4, 45, 'how'}

In [119]:
lst1 = [1,2,3,'sri',3,4,2,4,1,'sri']
lst1

[1, 2, 3, 'sri', 3, 4, 2, 4, 1, 'sri']

In [120]:
lst2 = list(set(lst1))
lst2

[1, 2, 3, 4, 'sri']

In [121]:
lst2 = list({lst1})

TypeError: unhashable type: 'list'

In [122]:
lst2

[1, 2, 3, 4, 'sri']

In [123]:
d1

{(1, 2), 1, 2, 3, 332, 4, 45, 'how'}

In [124]:
d1[0]

TypeError: 'set' object is not subscriptable

In [125]:
d1

{(1, 2), 1, 2, 3, 332, 4, 45, 'how'}

In [126]:
d1.remove((2,3))

KeyError: (2, 3)

In [127]:
d1.remove((1,2))

In [128]:
d1

{1, 2, 3, 332, 4, 45, 'how'}