from IPython.display import Image

In [2]:
Image(url="./assign_1/q1.png")

In [3]:
str1 = "jerry"
lst1 = [1,2,3,4]
float1 = 33.33
tup1 = (1,2,3,4)

In [4]:
Image(url="./assign_1/q2.png")

In [5]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1
type(var1),type(var2),type(var3),type(var4)

(str, str, list, int)

In [6]:
Image(url="./assign_1/q3.png")

In [7]:
4/3 , 4%3 , 4//3 , 4**3

(1.3333333333333333, 1, 1, 64)

In [8]:
Image(url="./assign_1/q4.png")

In [9]:
lst = [10 , 11.0 , True , 5+4j , {1,2,3} , {"name":"jerry","id":21,"email":"jerry@gmail.com"} , (1,2,3) , "jerry" , [1,2,3] , range(10)]
for _ in lst:
    print(_, type(_))
len(lst)

10 <class 'int'>
11.0 <class 'float'>
True <class 'bool'>
(5+4j) <class 'complex'>
{1, 2, 3} <class 'set'>
{'name': 'jerry', 'id': 21, 'email': 'jerry@gmail.com'} <class 'dict'>
(1, 2, 3) <class 'tuple'>
jerry <class 'str'>
[1, 2, 3] <class 'list'>
range(0, 10) <class 'range'>

10

In [10]:
Image(url="./assign_1/q5.png")

In [11]:
num = int(input())
int_quotient = 0
div = 8
while(num>=8):
    num-=8
    int_quotient+=1
if(num==0):
    print(f"Purely Divisible by 8 : True\nNumber of times divisible : {int_quotient}")
else:
    print("Purely divisble by 8 : False")

Purely Divisible by 8 : True
Number of times divisible : 125

In [16]:
Image(url="./assign_1/q6.png")

In [2]:
lst1 = list(range(1,26))
print("Divisibility Check by 3")
for i in lst1:
    if(i%3==0):
        print(f"{i} is divisible")
    else:
        print(f"{i} is not divisible")

Divisibility Check by 3
1 is not divisible
2 is not divisible
3 is divisible
4 is not divisible
5 is not divisible
6 is divisible
7 is not divisible
8 is not divisible
9 is divisible
10 is not divisible
11 is not divisible
12 is divisible
13 is not divisible
14 is not divisible
15 is divisible
16 is not divisible
17 is not divisible
18 is divisible
19 is not divisible
20 is not divisible
21 is divisible
22 is not divisible
23 is not divisible
24 is divisible
25 is not divisible

In [13]:
Image(url="./assign_1/q7.png")

In [3]:
# immutable data types are those ordered data types whose elements cannot be changed after creation
# mutable data types allow change in indexed elements after creation

In [5]:
lst1 = [1,2,3,4,5]
lst1[1] = 22

In [6]:
tup1=(1,2,3,4,5)
tup1[1] = 22

TypeError: 'tuple' object does not support item assignment