In [1]:
l=[1,2,3,11.11,"jerry",True,5+6j]

In [2]:
type(l)

list

In [3]:
l[0]

1

In [4]:
l[1]

2

In [5]:
l[-1]

(5+6j)

In [6]:
l[-2]

True

In [7]:
l[::-1]

[(5+6j), True, 'jerry', 11.11, 3, 2, 1]

In [8]:
l[::2]

[1, 3, 'jerry', (5+6j)]

In [9]:
s="Jerry"

In [10]:
s+l

TypeError: can only concatenate str (not "list") to str

In [11]:
list(s)

['J', 'e', 'r', 'r', 'y']

In [12]:
l+list(s)

[1, 2, 3, 11.11, 'jerry', True, (5+6j), 'J', 'e', 'r', 'r', 'y']

In [13]:
l

[1, 2, 3, 11.11, 'jerry', True, (5+6j)]

In [14]:
l[4]

'jerry'

In [15]:
str(l[5])

'True'

In [16]:
l+5

TypeError: can only concatenate list (not "int") to list

In [17]:
l1=[100,200,300]

In [18]:
l+l1

[1, 2, 3, 11.11, 'jerry', True, (5+6j), 100, 200, 300]

In [19]:
l1*3

[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [20]:
len(l)

7

In [21]:
l.append(1024)

In [22]:
l

[1, 2, 3, 11.11, 'jerry', True, (5+6j), 1024]

In [23]:
l.append([2,4,8,16])

In [24]:
l

[1, 2, 3, 11.11, 'jerry', True, (5+6j), 1024, [2, 4, 8, 16]]

In [25]:
l[-1][-1]

16

In [26]:
l.extend("jerry")

In [27]:
l

[1,
 2,
 3,
 11.11,
 'jerry',
 True,
 (5+6j),
 1024,
 [2, 4, 8, 16],
 'j',
 'e',
 'r',
 'r',
 'y']

In [28]:
l.extend(6)

TypeError: 'int' object is not iterable

In [29]:
l1

[100, 200, 300]

In [30]:
l.extend(l1)

In [31]:
l1

[100, 200, 300]

In [32]:
l

[1,
 2,
 3,
 11.11,
 'jerry',
 True,
 (5+6j),
 1024,
 [2, 4, 8, 16],
 'j',
 'e',
 'r',
 'r',
 'y',
 100,
 200,
 300]

In [33]:
l1

[100, 200, 300]

In [34]:
l1.insert(1,"jerry")

In [35]:
l1

[100, 'jerry', 200, 300]

In [36]:
l1.insert(len(l1),400)

In [37]:
l1

[100, 'jerry', 200, 300, 400]

In [38]:
l1.insert(-1,500)

In [39]:
l1

[100, 'jerry', 200, 300, 500, 400]

In [40]:
l1.pop()

400

In [41]:
l1

[100, 'jerry', 200, 300, 500]

In [42]:
l1.pop(0)

100

In [43]:
l1

['jerry', 200, 300, 500]

In [44]:
l1.remove('jerry')

In [45]:
l1

[200, 300, 500]

In [46]:
l1.remove(234)

ValueError: list.remove(x): x not in list

In [47]:
l

[1,
 2,
 3,
 11.11,
 'jerry',
 True,
 (5+6j),
 1024,
 [2, 4, 8, 16],
 'j',
 'e',
 'r',
 'r',
 'y',
 100,
 200,
 300]

In [48]:
l[8].remove(16)

In [49]:
l

[1,
 2,
 3,
 11.11,
 'jerry',
 True,
 (5+6j),
 1024,
 [2, 4, 8],
 'j',
 'e',
 'r',
 'r',
 'y',
 100,
 200,
 300]

In [50]:
l.remove(300)

In [51]:
l.pop()

200

In [52]:
l.pop()

100

In [53]:
l.reverse()

In [54]:
l

['y',
 'r',
 'r',
 'e',
 'j',
 [2, 4, 8],
 1024,
 (5+6j),
 True,
 'jerry',
 11.11,
 3,
 2,
 1]

In [55]:
l.reverse()

In [56]:
l

[1,
 2,
 3,
 11.11,
 'jerry',
 True,
 (5+6j),
 1024,
 [2, 4, 8],
 'j',
 'e',
 'r',
 'r',
 'y']

In [57]:
l[::-1]

['y',
 'r',
 'r',
 'e',
 'j',
 [2, 4, 8],
 1024,
 (5+6j),
 True,
 'jerry',
 11.11,
 3,
 2,
 1]

In [58]:
l

[1,
 2,
 3,
 11.11,
 'jerry',
 True,
 (5+6j),
 1024,
 [2, 4, 8],
 'j',
 'e',
 'r',
 'r',
 'y']

In [59]:
l=l[::-1]

In [60]:
l

['y',
 'r',
 'r',
 'e',
 'j',
 [2, 4, 8],
 1024,
 (5+6j),
 True,
 'jerry',
 11.11,
 3,
 2,
 1]

In [61]:
l1.insert(0,100)

In [62]:
l1

[100, 200, 300, 500]

In [63]:
l

['y',
 'r',
 'r',
 'e',
 'j',
 [2, 4, 8],
 1024,
 (5+6j),
 True,
 'jerry',
 11.11,
 3,
 2,
 1]

In [64]:
l.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [65]:
l1.sort()

In [66]:
l1

[100, 200, 300, 500]

In [67]:
l2=["jerry","hero","tsunade","naruto"]

In [68]:
l2.sort()

In [69]:
l2

['hero', 'jerry', 'naruto', 'tsunade']

In [70]:
l2.sort(reverse=True)

In [71]:
l2

['tsunade', 'naruto', 'jerry', 'hero']

In [72]:
l2.index("jerry")

2

In [73]:
l2.count("jerry")

1

In [74]:
s

'Jerry'

In [75]:
s[0]='b'

TypeError: 'str' object does not support item assignment

In [76]:
l2

['tsunade', 'naruto', 'jerry', 'hero']

In [77]:
l2[2]="sasuke"

In [78]:
l2

['tsunade', 'naruto', 'sasuke', 'hero']

In [79]:
l2[3]="sakura"

In [80]:
l2

['tsunade', 'naruto', 'sasuke', 'sakura']

In [81]:
s.replace('J','B')

'Berry'

In [82]:
s

'Jerry'

In [83]:
s=s.replace('J','B')

In [84]:
s

'Berry'

In [85]:
t=(1,2,3,4,"jerry",5+7j,True)

In [86]:
type(t)

tuple

In [87]:
t[0]

1

In [88]:
t[-1]

True

In [89]:
t[::-1]

(True, (5+7j), 'jerry', 4, 3, 2, 1)

In [90]:
t[::2]

(1, 3, 'jerry', True)

In [91]:
t[0]="helo"

TypeError: 'tuple' object does not support item assignment

In [92]:
t.count(True)

2

In [93]:
t

(1, 2, 3, 4, 'jerry', (5+7j), True)

In [94]:
t.index(True)

0

In [95]:
d1={}

In [96]:
type(d1)

dict

In [97]:
d2={1,2,3,4,"hello",1,2,3,4,11,2,3}

In [98]:
d2

{1, 11, 2, 3, 4, 'hello'}

In [99]:
d2

{1, 11, 2, 3, 4, 'hello'}

In [100]:
d2.add([1,2,3])

TypeError: unhashable type: 'list'

In [101]:
d2.add(100)

In [102]:
d2

{1, 100, 11, 2, 3, 4, 'hello'}

In [103]:
d2.add(100)

In [104]:
d2

{1, 100, 11, 2, 3, 4, 'hello'}

In [105]:
d2.pop()

1

In [106]:
d2.pop()

2

In [107]:
d2

{100, 11, 3, 4, 'hello'}

In [108]:
import random
l3=[]
for i in range(100):
    l3.append(random.randint(1,10))

In [109]:
l3

[2,
 10,
 6,
 10,
 2,
 5,
 1,
 3,
 3,
 8,
 7,
 2,
 1,
 7,
 1,
 2,
 7,
 1,
 5,
 9,
 4,
 7,
 1,
 8,
 9,
 1,
 6,
 2,
 4,
 9,
 4,
 2,
 10,
 3,
 9,
 7,
 7,
 6,
 4,
 4,
 2,
 9,
 4,
 10,
 10,
 7,
 1,
 9,
 7,
 9,
 3,
 10,
 7,
 10,
 1,
 2,
 9,
 4,
 6,
 2,
 5,
 6,
 3,
 5,
 6,
 10,
 8,
 7,
 10,
 6,
 8,
 7,
 4,
 4,
 3,
 7,
 2,
 5,
 6,
 6,
 4,
 2,
 10,
 6,
 1,
 8,
 10,
 8,
 6,
 6,
 4,
 10,
 1,
 9,
 1,
 9,
 1,
 10,
 5,
 8]

In [110]:
set1=set(l3)

In [111]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [112]:
set1={l3}

TypeError: unhashable type: 'list'

In [113]:
set1[0]

TypeError: 'set' object is not subscriptable

In [114]:
set1[::-1]

TypeError: 'set' object is not subscriptable

In [115]:
set1.add(55)

In [116]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 55}

In [117]:
len(set1)

11

In [118]:
set1.remove(55)

In [119]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}