In [1]:
d1={}

In [2]:
type(d1)

dict

In [3]:
d2={'name':'Jerry','roll_no':82,'sec':'A','sem':5,'phone_no':9577303698}

In [4]:
d2

{'name': 'Jerry', 'roll_no': 82, 'sec': 'A', 'sem': 5, 'phone_no': 9577303698}

In [5]:
d3={11:'ram',2:'shyam',True:100}

In [6]:
d3[True]

100

In [7]:
d3

{11: 'ram', 2: 'shyam', True: 100}

In [8]:
d4={1:'ram',2:'shyam',True:100}

In [9]:
d4

{1: 100, 2: 'shyam'}

In [10]:
d4[True]

100

In [11]:
d5={'name':'jerry','mail_id':'sridarsansah@gmail.com','name':'Sri Darsan Sah'}

In [12]:
d5

{'name': 'Sri Darsan Sah', 'mail_id': 'sridarsansah@gmail.com'}

In [13]:
d6={"company":"pwskills","course":["Web Dev","Data Science","Java with DSA and System Design"]}

In [14]:
d6["course"]

['Web Dev', 'Data Science', 'Java with DSA and System Design']

In [15]:
d7={"num":[1,2,3],"launch_date":{12,23,19},"price":{"web":3500,"dsa":3500,"ds":3500}}

In [16]:
d7["num"]

[1, 2, 3]

In [17]:
d7["price"]

{'web': 3500, 'dsa': 3500, 'ds': 3500}

In [18]:
d7["price"]["web"]

3500

In [19]:
d7["mentor"]=["Anurag","Sudhanshu","Hayder"]

In [20]:
d7

{'num': [1, 2, 3],
 'launch_date': {12, 19, 23},
 'price': {'web': 3500, 'dsa': 3500, 'ds': 3500},
 'mentor': ['Anurag', 'Sudhanshu', 'Hayder']}

In [21]:
del d7['num']

In [22]:
d7

{'launch_date': {12, 19, 23},
 'price': {'web': 3500, 'dsa': 3500, 'ds': 3500},
 'mentor': ['Anurag', 'Sudhanshu', 'Hayder']}

In [23]:
d7.keys()

dict_keys(['launch_date', 'price', 'mentor'])

In [24]:
d7.values()

dict_values([{19, 12, 23}, {'web': 3500, 'dsa': 3500, 'ds': 3500}, ['Anurag', 'Sudhanshu', 'Hayder']])

In [25]:
list(d7.keys())

['launch_date', 'price', 'mentor']

In [26]:
tuple(d7.keys())

('launch_date', 'price', 'mentor')

In [27]:
set(d7.keys())

{'launch_date', 'mentor', 'price'}

In [28]:
list(d7.items())

[('launch_date', {12, 19, 23}),
 ('price', {'web': 3500, 'dsa': 3500, 'ds': 3500}),
 ('mentor', ['Anurag', 'Sudhanshu', 'Hayder'])]

In [29]:
d7.pop("launch_date")

{12, 19, 23}

In [30]:
d7

{'price': {'web': 3500, 'dsa': 3500, 'ds': 3500},
 'mentor': ['Anurag', 'Sudhanshu', 'Hayder']}

In [31]:
marks=56
if(marks>=80):
    print("Batch A1 assigned")
elif(marks>=60):
    print("Batch A2 assigned")
elif(marks>=40):
    print("Batch A3 assigned")
else:
    print("Batch A4 assigned")

Batch A3 assigned

In [32]:
marks=int(input())
if(marks>=0 and marks<=100):
    if(marks>=80):
        print("Batch A1 assigned")
    elif(marks>=60):
        print("Batch A2 assigned")
    else:
        print("Batch A3 assigned")
else:
    print("Invalid Input")

Batch A2 assigned

In [33]:
var1=input()

In [34]:
type(var1)

str

In [35]:
price=int(input("Enter Price: "))
if(price>5000):
    print("Price is too high. I will not purchase.")
elif(price>3000):
    print("I will not purchase.")
else:
    print("I will purchase.")

Price is too high. I will not purchase.

In [36]:
l1=[1,2,3,4,5,6,7,8]

In [37]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8

In [38]:
l2=[]
for i in l1:
    l2.append(i**2)

In [39]:
l2

[1, 4, 9, 16, 25, 36, 49, 64]

In [41]:
l3=['pwskills','jerry','course']

In [42]:
l4=[]
for i in l3:
    l4.append(i.upper())

In [43]:
l4

['PWSKILLS', 'JERRY', 'COURSE']

In [44]:
l5=[1,2,3,"jerry",464.44,"hello",100,100+100j]

In [45]:
l6_str=[]
l7_num=[]
for i in l5:
    if(type(i)==int or type(i)==float or type(i)==complex):
        l7_num.append(i)
    elif(type(i)==str):
        l6_str.append(i)

In [46]:
l6_str

['jerry', 'hello']

In [47]:
l7_num

[1, 2, 3, 464.44, 100, (100+100j)]